.Countdown {
    border: 1px solid #ffe58f;
    background-color: #fffbe6;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 4px;
}
